body {
  background-color: white;
  color: black;
}

/* .dark-mode {
  background-color: #042743;
  color: white;
} */

.dark-mode header {
  background: #000;
}

/* .dark-mode .inp {
  background-color: #042743;
  color: white;
} */

.dark-mode textarea {
  background-color: gray;
  color: white;
}
.dark-mode .nav{
  background-color: #000;
}
